<form data-members-form="subscribe" class="footer-cta">
    <p>
        Subscribe to Cryptography Dispatches to hear more about cryptography engineering and
        professional Open Source maintenance. You can also
        <a href="/dispatches/">read the archives</a> or
        <a href="/dispatches/rss/">subscribe with RSS</a>.
    </p>
    <p class="almost-done">
        Thank you! You're almost done, click the link in your inbox to confirm your email
        and confirm your subscription.
    </p>
    <input data-members-email type="email" required="true" placeholder="alice@example.com">
    <button type="submit">Subscribe</button>
</form>