<form data-members-form="subscribe" class="subscribe-cta">
    <div>
        Subscribe to Cryptography Dispatches for more!
    </div>
    <p class="almost-done">
        Thank you! You're almost done, click the link in your inbox to confirm your email.
    </p>
    <input data-members-email type="email" required="true" placeholder="Type your email...">
    <button type="submit">Subscribe</button>
</form>