<form data-members-form="subscribe" class="subscribe-cta">
    <div>Subscribe to Cryptography Dispatches for more!</div>
    <input data-members-email type="email" required="true" placeholder="Type your email...">
    <button type="submit">Subscribe</button>
</form>