@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('raleway-v22-latin-regular.woff2') format('woff2'),
       url('raleway-v22-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('raleway-v22-latin-600.woff2') format('woff2'),
       url('raleway-v22-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('raleway-v22-latin-italic.woff2') format('woff2'),
       url('raleway-v22-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('raleway-v22-latin-600italic.woff2') format('woff2'),
       url('raleway-v22-latin-600italic.woff') format('woff');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('bitter-v19-latin-500.woff2') format('woff2'),
       url('bitter-v19-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('bitter-v19-latin-600.woff2') format('woff2'),
       url('bitter-v19-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('source-code-pro-v18-latin-regular.woff2') format('woff2'),
       url('source-code-pro-v18-latin-regular.woff') format('woff');
}
