body {
  color: #3a4145;
  font-family: "Raleway", serif;
  font-size: 1.2em;
  line-height: 1.7em;
  overflow-wrap: break-word;
  margin: 0;
}

p,
ul,
ol,
dl,
figure,
pre {
  margin: 0 0 1.65em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2e2e;
  font-family: "Bitter", sans-serif;
  line-height: 1.3em;
  margin: 0 0 0.4em 0;
}

main {
  position: relative;
  width: 80%;
  max-width: 780px;
  margin: 4rem auto;
  padding-bottom: 4rem;
}

a {
  color: inherit;
}

code,
pre {
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
}

pre {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  background: #23241f;
  color: #f8f8f2;
  overflow-x: auto;
}

pre code {
  font-size: 0.8em;
  line-height: 1.6em;
  display: block;
}

b,
strong {
  font-weight: 600;
}

article img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
  max-height: 500px;
}

header {
  margin: 80px auto;
  text-align: center;
  font-size: 2em;
}

header a {
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 500;
}

blockquote {
  border-left: 2px solid #3a4145;
  margin-left: 25px;
  padding-left: 15px;
}

.index h1 {
  font-size: 1.5em;
}

.index h1 a {
  text-decoration: none;
}

.index article {
  font-size: 0.8em;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.dispatches-cta {
  font-style: italic;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: initial;
  }

  header {
    font-size: 1.7em;
  }

  main {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 0;
  }

  ul {
    padding-left: 20px;
  }

  h1 {
    font-size: 1.7em;
  }
}

.subscribe-cta div {
  text-align: center;
  margin-bottom: 1rem;
}

.subscribe-cta input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 0.5rem;
  border: black solid 1px;
  box-sizing: border-box;
  text-align: center;
}

.subscribe-cta button {
  border: 0;
  border-radius: 0.25rem;
  background: black;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.75rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.subscribe-cta .almost-done {
  display: none;
}

.subscribe-cta.success .almost-done {
  display: initial;
}
.subscribe-cta.success button, .subscribe-cta.success input {
  display: none;
}

.kg-width-wide {}
.kg-width-full {}
.kg-gallery-container {}
.kg-gallery-row {}
.kg-gallery-image {}
.kg-bookmark-card {}
.kg-bookmark-container {}
.kg-bookmark-content {}
.kg-bookmark-title {}
.kg-bookmark-description {}
.kg-bookmark-metadata {}
.kg-bookmark-icon {}
.kg-bookmark-author {}
.kg-bookmark-publisher {}
.kg-bookmark-thumbnail {}
